body { overflow-x: hidden;}

.navbar-toggler { background:red;}
/* .container-fluid{background:green;} */

/*   footer */
.page-footer
{
  background:#0f0f0d;
  max-height: 100%;
  padding:100px ;
}
.page-footer .bg{
 
  padding: 10px 10px 10px 10px;
  background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
  border-radius:3px;

  padding-bottom: 10px;
}
.bg .container
{
  background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
  border-radius:3px;
}

.icon-footer
{
  color:white;
  border-radius:5px;
  padding: 10px;
  margin:5px;

}

.icon-footer:hover
{  transition: background-color 0.5s;
  background-color:red;
}

