



/*   footer */
.page-footer
{
  background:#0f0f0d;

  padding:100px ;
 
  
  
}
.bg{
 
  padding: 10px 10px 10px 10px;
  background:rgb(40, 184, 83);
  border-radius:3px;

  padding-bottom: 10px;
}
.container
{
  background:gray;
  border-radius:3px;
}

